* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    /* text-decoration: none;
    list-style: none; */
    font-family: "Roboto", sans-serif;
  }
  
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.645);
    backdrop-filter: blur(50px);
    z-index: 100;
  }
  
  .navbar a {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;
    margin: 0 5px;
    position: relative;
    transition: all 0.5s ease;
  }
  
  .navbar a::before {
    content: "►"; /* flèche */
    color: #ffd700; /* couleur de la flèche */
    position: absolute;
    left: 0px; /* distance de la flèche par rapport au texte */
    opacity: 0; /* invisible par défaut */
    transition: opacity 0.8s ease; /* transition pour la rendre visible */
  }
  
  .navbar a:hover {
    animation: textBlink 0.6s infinite;
  }
  
  .navbar a:hover::before {
    opacity: 1; /* flèche visible au survol */
  }
  
  /* Animation clignotante */
  @keyframes textBlink {
    0%,
    50%,
    100% {
      color: #ffd700; /* couleur sur survol */
    }
    25%,
    75% {
      color: #f0f0f0; /* couleur originale */
    }
  }
  
  .navbar a:hover {
    color: #ffd700; /* couleur sur survol */
    background: #222; /* fond rétro pour l'effet */
    border: 2px solid #ffd700; /* bordure qui renforce l'effet pixel */
    transform: scale(1.05); /* effet léger de zoom */
    animation: textBlink 0.6s infinite; /* animation de clignotement */
  }
  
  .logo img {
    width: 100px;
    margin-right: 100px;
  }
  
  .navbar a {
    font-size: 12px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    list-style: none;
    font-family: "Press Start 2P", serif;
    margin-left: 30px;
    padding-right: 20px;
  }
  
  #check {
    display: none;
  }
  
  .icons {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: white;
    cursor: pointer;
    display: none;
  }
  
  @media (max-width: 1116px) {
    .logo img {
      width: 100px;
      margin-right: 10px;
    }
    .navbar {
      position: relative;
    }
  
    .navbar a {
      margin-left: 50px;
      padding: 10px 15px;
    }
  }
  
  @media (max-width: 1075px) {
    .logo img {
      width: 100px;
      margin-right: 10px;
    }
    .navbar {
      position: relative;
      top: 100%;
      left: 0;
      width: 100%;
      height: 0;
    }
    .navbar a {
      margin-left: 50px;
      padding: 10px 10px;
    }
  }
  
  @media (max-width: 1025px) {
    .logo img {
      width: 100px;
      margin-right: 1px;
    }
    .navbar {
      position: relative;
      top: 100%;
      left: 0;
      width: 100%;
      height: 0;
    }
    .navbar a {
      margin-left: 50px;
      padding: 10px 10px;
    }
  }
  
  @media (max-width: 1016px) {
    .icons {
      display: inline-flex;
    }
  
    #check:checked ~ .icons #menu-icon {
      display: none;
    }
  
    .icons #close-icon {
      display: none;
    }
  
    #check:checked ~ .icons #close-icon {
      display: block;
    }
  
    .navbar {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 0;
      background-color: rgba(10, 11, 11, 0.767);
      overflow: hidden;
      /* backdrop-filter: blur(50px); */
      transition: 0.3s ease;
      /* box-shadow: 0.5rem 5rem black; */
    }
  
    #check:checked ~ .navbar {
      height: 100vh;
    }
  
    .navbar a {
      display: block;
      font-size: 18px;
      margin: 50px 0;
      text-align: center;
      transform: translateY(-50px);
      opacity: 0;
      transition: 0.9 ease;
    }
  
    #check:checked ~ .navbar a {
      transform: translateY(0);
      opacity: 1;
      transition-delay: calc(0.15s * var(--i));
    }
  
    .navbar a::before {
      content: "►"; /* flèche */
      color: #ffd700; /* couleur de la flèche */
      position: absolute;
      top: 6px;
      left: 35%; /* distance de la flèche par rapport au texte */
      opacity: 0; /* invisible par défaut */
      transition: opacity 0.8s ease; /* transition pour la rendre visible */
    }
    .footer-content h3 {
      font-size: 1.3em;
    }
  
    .socials li a {
      font-size: 1em;
    }
  }
  
  /***********************************************FIN NAVBAR*******************************************************************/
  
  /*************************************************FOOTER*******************************************************************/
  
  /* Style de base du footer */
  footer {
    background-color: #222;
    color: #f0f0f0;
    text-align: center;
    padding: 20px 10px;
  }
  
  .footer-bottom p a {
    top: 100px;
    list-style-type: none;
    text-decoration: none;
    color: #ffffff;
  }
  
  .footer-bottom p a:hover {
    text-decoration: underline rgb(245, 213, 6) 3px;
  }
  .footer-content h3 {
    font-size: 1.5em;
    margin: 10px 0;
  }
  
  .footer-content p {
    font-size: 0.9em;
    line-height: 1.5;
    margin: 10px 0;
  }
  
  /* Styles pour les icônes de réseaux sociaux */
  .socials {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 15px 0;
  }
  
  .socials li a {
    text-decoration: none;
    color: #ffd700;
    font-size: 1.2em;
    transition: color 0.3s ease;
  }
  
  .socials li a:hover {
    color: #f0f0f0; /* Couleur au survol */
  }
  
  /* Style pour le bas du footer */
  .footer-bottom {
    font-size: 0.8em;
    margin-top: 15px;
  }
/**************************************************FIN FOOTER*******************************************************************/
  
/*************************************************************PRESENTATION************************************************************************/
h1{
  font-family: "Press Start 2P", serif;
  text-align: center;
  padding-top: 150px;
}
h2{
  text-align: center;
  font-family: "Roboto", sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
  text-decoration: underline;
  font-size: 25px;
}
body{
    display: flexbox;
    justify-content: center;
    background-color: #07195a;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin: 0 auto;
  padding: 0rem;
  width: 1000px;
  background: #1c1f2b;
  text-align: center;
  border-radius: 10px;
  position: relative;
}
.img1{
  width: 1000px;
  height: 500px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: blur(0.5);
  border-radius: 10px;
}
.container .btn{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  border: none;
  border-radius: 10px;
  outline: none;
  color: black;
  font-weight: 1000;
  font-family: "Roboto", sans serif;
  background-color: #d6e10a;
  padding: 15px 50px;
  z-index: 0;
}
.btn::after{
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color:#d6e10a;
  left: 0;
  top: 0;
  border-radius: 10px;
}
.btn::before{
  content: '';
  background: linear-gradient(
    45deg,
    #ea4d4d, #d6e10a, #ea4d4d, #d6e10a,
    #ea4d4d, #d6e10a, #ea4d4d, #d6e10a
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height:  calc(100% + 4px);
  filter: blur(8px);
  animation: glowing 20s linear infinite;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
  opacity: 0;
}
@keyframes glowing{
  0% {background-position: 0 0;}
  50% {background-position: 400% 0;}
  100% {background-position: 0 0;}
}
.btn:hover::before{
  opacity: 1;
}
.btn:active:after{
  background: transparent;
}
.btn:active{
  color: #000;
  font-weight: bold;
}
.container::after, .container::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(from var(--angle), #ea4d4d, #d6e10a, #ea4d4d, #d6e10a, #ea4d4d);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 5px;
  border-radius: 10px;
  animation: 3s spin linear infinite;
}
.container::before{
  filter: blur(1.5rem);
  opacity: 0.5;
}
@keyframes spin{
  from{
    --angle: 0deg;
  }
  to{
    --angle: 360deg;
  }
}
@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
/**********************************************************FIN PRESENTATION************************************************************************/

/********************************************CONSOLES PRESENTEES**********************************************/
.h2Consoles{
  text-align: center;
  font-family: "Roboto", sans-serif;
  padding-top: 30px;
  padding-bottom: 20px;
  text-decoration: underline;
  font-size: 25px;
}
.h2NomConsoles{
  text-align: left;
  padding-bottom: 1px;
  padding-top: 1px;
  text-decoration: none;
  font-family: "Roboto";
}
.container1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 0 !important;
  color: #d6e10a;
}

.column {
  flex: 2;
  padding: 0px;
  max-width: 500px;
  box-sizing: border-box;
  border-radius: 10px;
  width:308px;
	background: #020920;
	margin:10px 10px;
	padding: 10px 5px;
	display:flex;
	flex-direction: column;
	box-shadow: 5px 5px #d6e10a;
	transition:0.3s ease-in-out;
  cursor: pointer;
}

.img2 {
  width: 350px;
  border-radius: 10px ;
}

.row::after {
	display: table;
	clear: both;
}

/********************************************Fin des Consoles Présentées**********************************************/

/********************************************Jeux emblématiques**********************************************/

.container2 {
  display: flex;
  flex-wrap: wrap;
	justify-content: center;
}
