@media (min-width:300px){
img{
    width: 100%;
    height: 50vw;
    border: 5px solid #f1f1f1;
    
    
}

#présentation > img {
    object-fit: cover;
    
}


body{
    background-color: black;
    color: #f1f1f1;
}
h1,h2{
    text-align: center;
}

p{      
    background-color: #ea4d4d;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 5px 5px 0px #101d39, 10px 10px 0px #d6e10a;
    font-family: "Roboto", sans-serif;
    max-width: 600px;
    text-align: center;
    margin-top: 10px;
    z-index: 1;
 }
 
}

/*---------------------------------------------------- à partir de ci-dessous c'est version tablette.-----------------------------------*/

@media(min-width:600px) and (max-width:899px){
   
/*---------------------------------------------------- Image personnages Nintendo.------------------------------------------------------*/

    #présentation > img{
        width: 100%;
        height: 50vw;
        object-fit: cover;
        
    }

/*---------------------------------------------------- Fin image personnages Nintendo---------------------------------------------------*/

body{
    background-color: #062050;
    color: rgb(234, 228, 228);
}

h1{
    text-align: center;
    font-size: 34px;
}

h2{
    text-align: center;
}

p{
    font-size: 20px;
}

img{
    border: 5px solid #f1f1f1;
    width: 100%;
    height: ;
}
/*------------------------------------------------------texte et image Nintendo---------------------------------------------------------*/
.débuts{
    display: flex;
    flex-direction: row;
}
/*------------------------------------------------------fin texte image Nintendo--------------------------------------------------------*/
.console > div > img{
    width: 500px;
    height: 25vw;
}



.débuts > div > img{
    width: 400px;
    height: 25vw;
    margin-right: 20px;
    
}
}

@media(min-width:900px){
    
    body{
        background-color: #062050;
        color: #f1f1f1;
    }

    #présentation > img{   
    width: 100%;
    height: 37vw;
    object-fit: cover;}

    h1{
        text-align: center;
        font-size: 44px;
        border: 25px solid yellow;
    }

    .débuts{
        display: flex;
        flex-direction: row-reverse;
        text-align: center;
    }
    .débuts > div > img{
        width: 100%;
        margin-right: 20px;
    
    }

    h2{
        text-align: center;
        border: 5px solid red;
        font-size: 28px;
    }
    
    .console{
        display: flex;
        
    }

    .console > div{
       margin-right: 30px;
       margin-top: 50px;
    }

    .console > .container4 > img{
        width: 100%;
        height: 15vw;
        
    }

    .iconique{
        display: flex;    
    }

    .iconique > img{
        width: 100%;
        height: 15vw;
    }

    
        
        
        
    
}





