/* Section Parallax */
.parallax-container {

  position: relative;
  width: 100%;
  height: 100vh; /* Hauteur de la section égale à la hauteur de l'écran */
  overflow: hidden;
}

.parallax-container1 {
  position: relative;
  width: 100%;
  height: 100vh; /* Hauteur de la section égale à la hauteur de l'écran */
  overflow: hidden;
}
.parallax {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../img/rasm/shiigeru.jpg'); /* Image de fond */
  background-attachment: fixed; /* Effet parallax */
  background-position: center 110px;
  background-size: cover; /* L'image couvre toute la section */
  z-index: -1; /* L'image reste derrière le contenu */
}