* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
}

/*********************************************** NAVBAR*******************************************************************/

html,
body {
  /* overflow-x: hidden; */
  width: 100%;
  height: 100%;
  background-color: #1a1a1a;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.645);
  backdrop-filter: blur(50px);
  z-index: 100;
}

.navbar a {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  padding: 10px 20px;
  margin: 0 5px;
  position: relative;
  transition: all 0.5s ease;
}

.navbar a::before {
  content: "►"; /* flèche */
  color: #ffd700; /* couleur de la flèche */
  position: absolute;
  left: 0px; /* distance de la flèche par rapport au texte */
  opacity: 0; /* invisible par défaut */
  transition: opacity 0.8s ease; /* transition pour la rendre visible */
}

.navbar a:hover {
  animation: textBlink 0.6s infinite;
}

.navbar a:hover::before {
  opacity: 1; /* flèche visible au survol */
}

/* Animation clignotante */
@keyframes textBlink {
  0%,
  50%,
  100% {
    color: #ffd700; /* couleur sur survol */
  }
  25%,
  75% {
    color: #f0f0f0; /* couleur originale */
  }
}

.navbar a:hover {
  color: #ffd700; /* couleur sur survol */
  background: #222; /* fond rétro pour l'effet */
  border: 2px solid #ffd700; /* bordure qui renforce l'effet pixel */
  transform: scale(1.05); /* effet léger de zoom */
  animation: textBlink 0.6s infinite; /* animation de clignotement */
}

.logo img {
  width: 100px;
  margin-right: 100px;
}

.navbar a {
  font-size: 12px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  list-style: none;
  font-family: "Press Start 2P", serif;
  margin-left: 30px;
  padding-right: 20px;
}

#check {
  display: none;
}

.icons {
  position: absolute;
  right: 5%;
  font-size: 2.8rem;
  color: white;
  cursor: pointer;
  display: none;
}

@media (max-width: 1116px) {
  .logo img {
    width: 100px;
    margin-right: 10px;
  }
  .navbar {
    position: relative;
  }

  .navbar a {
    margin-left: 50px;
    padding: 10px 15px;
  }
}

@media (max-width: 1075px) {
  .logo img {
    width: 100px;
    margin-right: 10px;
  }
  .navbar {
    position: relative;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
  }
  .navbar a {
    margin-left: 50px;
    padding: 10px 10px;
  }
}

@media (max-width: 1025px) {
  .logo img {
    width: 100px;
    margin-right: 1px;
  }
  .navbar {
    position: relative;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
  }
  .navbar a {
    margin-left: 50px;
    padding: 10px 10px;
  }
}

@media (max-width: 1016px) {
  .icons {
    display: inline-flex;
  }

  #check:checked ~ .icons #menu-icon {
    display: none;
  }

  .icons #close-icon {
    display: none;
  }

  #check:checked ~ .icons #close-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(10, 11, 11, 0.767);
    overflow: hidden;
    /* backdrop-filter: blur(50px); */
    transition: 0.3s ease;
    /* box-shadow: 0.5rem 5rem black; */
  }

  #check:checked ~ .navbar {
    height: 100vh;
  }

  .navbar a {
    display: block;
    font-size: 18px;
    margin: 50px 0;
    text-align: center;
    transform: translateY(-50px);
    opacity: 0;
    transition: 0.9 ease;
  }

  #check:checked ~ .navbar a {
    transform: translateY(0);
    opacity: 1;
    transition-delay: calc(0.15s * var(--i));
  }

  .navbar a::before {
    content: "►"; /* flèche */
    color: #ffd700; /* couleur de la flèche */
    position: absolute;
    top: 6px;
    left: 35%; /* distance de la flèche par rapport au texte */
    opacity: 0; /* invisible par défaut */
    transition: opacity 0.8s ease; /* transition pour la rendre visible */
  }

  .footer-content h3 {
    font-size: 1.3em;
  }

  .socials li a {
    font-size: 1em;
  }
}

/***********************************************FIN NAVBAR*******************************************************************/
.tt {
  margin: 10px;
  font-family: "Press Start 2P", serif;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #001aff; /* Bleu clair pour le texte */
  text-shadow: 0 0 10px #00bfff, /* Ombre bleu clair */ 0 0 20px #00bfff,
    0 0 30px #00bfff, 0 0 40px #00bfff, 0 0 10px #ffff00,
    /* Ombre jaune */ 0 0 20px #ffff00, 0 0 30px #ffff00; /* Ombre jaune éclatante */
  animation: pixel-glitch 1.5s infinite alternate;
}

/* Animation de glitch avec effet de pixels */
@keyframes pixel-glitch {
  0% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
  25% {
    transform: translateX(-2px) scale(1.05);
    opacity: 0.9;
  }
  50% {
    transform: translateX(2px) scale(1.05);
    opacity: 0.8;
  }
  75% {
    transform: translateX(-2px) scale(1.1);
    opacity: 0.7;
  }
  100% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}

.yoyo {
  font-size: 20px;
  padding: 20px;
}

/* Section parallax */
.parallax {
  position: relative;
  background-image: url("../img/tournois/imgfond.jpg"); /* Image de fond */
  background-attachment: fixed; /* L'effet parallax */
  background-size: cover; /* L'image couvre toute la section */
  background-position: center; /* L'image est centrée */
  height: 100vh; /* Hauteur de la section = 100% de la fenêtre du navigateur */
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7); /* Ombre pour le texte */
  padding: 20px; /* Espacement intérieur */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

.parallax-content {
  z-index: 2; /* Assure que le texte est au-dessus de l'image */
  padding: 20px;
}

.parallax .tt {
  font-size: 25px;
  margin-bottom: 20px;
}

/* Section d'information normale */
.info-section {
  padding: 50px;
  background-color: #f4f4f4;
  text-align: center;
}

.info-section h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.info-section p {
  font-size: 1.2em;
}

/* Responsivité pour les petits écrans */
@media (max-width: 768px) {
  .parallax .h1 {
    font-size: 1.2em; /* Taille du texte réduite sur mobile */
  }
}

@media (max-width: 500px) {
  .parallax h1 {
    font-size: 5px; /* Taille du texte réduite sur mobile */
  }
}
/* .info-section h2 {
    font-size: 5px;
  }
  .info-section p {
    font-size: 50px;
  }
} */

.slogan {
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Fond semi-transparent pour améliorer la lisibilité */
  padding: 20px; /* Espacement intérieur */
  border-radius: 10px; /* Coins arrondis */
}

.insbo {
  background-color: #c33434; /* Couleur du bouton */
  color: white; /* Couleur du texte du bouton */
  border: none; /* Pas de bordure */
  padding: 10px 20px; /* Espacement intérieur du bouton */
  font-size: 16px; /* Taille de police */
  border-radius: 5px; /* Coins arrondis */
  cursor: pointer; /* Curseur pointer sur le bouton */
  transition: background-color 0.3s; /* Animation lors du survol */
  margin: 20px;
}

.insbo:hover {
  background-color: #767676; /* Couleur lors du survol */
}

/* Section des tournois */
.tournois {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 30px;
  gap: 30px;
}

/* Card de tournoi */
.tour {
  background-color: rgb(0, 0, 0);
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tour h2 {
  font-size: 1.5em;
  color: #fffb00;
  margin-bottom: 10px;
  font-family: "Press Start 2P", serif;
}

.tour .date {
  font-size: 1.2em;
  color: #c33434;
  margin-bottom: 15px;
}

.tour .description {
  font-size: 1em;
  color: #ffffff;
  margin-bottom: 20px;
}

.tour:hover {
  transform: translateY(-10px); /* Élève la carte au survol */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Ombre plus marquée */
}

/* Bouton d'inscription */
.bouton {
  background-color: #c33434;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.bouton:hover {
  background-color: #a5a5a5;
}

@media (max-width: 500px) {
  .tournois {
    padding: 4px;
  }
}

/* Section Introduction */
.intro {
  background-color: #fff;
  padding: 40px;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.intro h2 {
  font-size: 2em;
  color: #000000;
  margin-bottom: 20px;
  font-family: "roboto", sans-serif;
}

/* Section Règles */
.rules {
  background-color: #fff;
  padding: 40px;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.rules h2 {
  font-size: 2em;
  color: #000000;
  margin-bottom: 20px;
  font-family: "roboto", sans-serif;
}

.rules ul {
  list-style-type: none;
  padding-left: 20px;
}

.rules li {
  font-size: 1.1em;
  margin-bottom: 10px;
}

/* Section Modalités d'Inscription */
.modalities {
  background-color: #fff;
  padding: 40px;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.modalities h2 {
  font-size: 2em;
  color: #000000;
  margin-bottom: 20px;
  font-family: "roboto", sans-serif;
}

.modalities ol {
  padding-left: 20px;
}

.modalities li {
  font-size: 1.1em;
  margin-bottom: 10px;
}

.modalities .responsive-img {
  width: 100%;
  height: auto;
  margin-top: 20px;
}

/* Section Prix */
.prizes {
  background-color: #fff;
  padding: 40px;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.prizes h2 {
  font-size: 2em;
  color: #000000;
  margin-bottom: 20px;
  font-family: "roboto", sans-serif;
}

.prizes ul {
  list-style-type: none;
  padding-left: 20px;
}

.prizes li {
  font-size: 1.1em;
  margin-bottom: 10px;
}

/* Section Conditions de Participation */
.conditions {
  background-color: #fff;
  padding: 40px;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.conditions h2 {
  font-size: 2em;
  color: #000000;
  margin-bottom: 20px;
}

.conditions ul {
  list-style-type: none;
  padding-left: 20px;
}

.conditions li {
  font-size: 1.1em;
  margin-bottom: 10px;
}
/* @media (max-width: 500px) {
  .intro {
    padding: 5px;
  }
  .intro h2 {
    font-size: 5px;
  }
  .intro p {
    font-size: 5px;
  }
  .container {
    padding: 5px;
  }
  .container h2 {
    font-size: 5px;
  }
  .container p {
    font-size: 5px;
  }
  .container li {
    font-size: 5px;
  }
  .rules {
    padding: 5px;
  }
  .modalities {
    padding: 5px;
  }
} */
/********************************************* Base Styles for Scoreboard ************************************************************/
/* Style général du tableau */
.scoreboard {
  margin: 50px auto;
  padding: 20px;
  max-width: 1000px;
  background-color: #121212;
  border-radius: 15px;
  text-align: center;
}

/* Titre */
.scoreboard-title {
  font-size: 2em;
  margin-bottom: 30px;
  margin: 10px;
  font-family: "Press Start 2P", serif;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 5px;
  position: relative;
  animation: neon 1.5s ease-in-out infinite alternate;
}

/* Animation du texte Néon Bleu */
@keyframes neon {
  0% {
    text-shadow: 0 0 5px #00d4ff, 0 0 10px #00d4ff, 0 0 20px #00d4ff,
      0 0 40px #00d4ff, 0 0 80px #00d4ff, 0 0 90px #00d4ff, 0 0 100px #00d4ff;
  }
  50% {
    text-shadow: 0 0 10px #00d4ff, 0 0 20px #00d4ff, 0 0 30px #00d4ff,
      0 0 60px #00d4ff, 0 0 120px #00d4ff, 0 0 150px #00d4ff, 0 0 180px #00d4ff;
  }
  100% {
    text-shadow: 0 0 5px #00d4ff, 0 0 10px #00d4ff, 0 0 20px #00d4ff,
      0 0 40px #00d4ff, 0 0 80px #00d4ff, 0 0 90px #00d4ff, 0 0 100px #00d4ff;
  }
}

.textegrille {
  color: white;
}

/* Grille des scores */
.scoreboard-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 colonnes par défaut */
  gap: 20px;
  margin-top: 20px;
}

/* Bloc dans la grille */
.scoreboard-block {
  background-color: #1a1a1a;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  color: #fff;
}

.player-photo {
  width: 80px;
  height: 100px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.scoreboard-block p {
  font-size: 1.2em;
  color: #f7ff00;
}

/* Effet de survol */
.scoreboard-block:hover {
  background-color: #444;
  cursor: pointer;
}

/* Responsive pour les tablettes */
@media (max-width: 1024px) {
  .scoreboard-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 colonnes sur tablette */
  }
}

/* Responsive pour les téléphones */
@media (max-width: 768px) {
  .scoreboard-grid {
    grid-template-columns: 1fr; /* 1 colonne sur téléphone */
  }

  .scoreboard-title {
    font-size: 1.5em; /* Ajuste la taille du titre */
  }

  .scoreboard-block p {
    font-size: 1em; /* Réduit la taille du texte sur petit écran */
  }
}

/* @media (max-width: 769px) {
  .scoreboard-title {
    font-size: 25px;
  }
}

@media (max-width: 570px) {
  .scoreboard-title {
    font-size: 15px;
  }
} */
/******************************************************FIN SCORE ******************************************/
/* Formulaire d'inscription */
.reservation {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 70%;
  max-width: 300px;
  margin: 200px;
}

.form {
  text-align: center;
}

/* Formulaire */
.registration-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
  text-align: left;
  margin-top: 15px;
}

input,
select {
  padding: 10px;
  font-size: 1em;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button.submit-btn {
  padding: 15px;
  background-color: #3498db;
  color: #fff;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button.submit-btn:hover {
  background-color: #2980b9;
}

/* Validation visuelle pour les champs obligatoires */
input:invalid,
select:invalid {
  border-color: #e74c3c;
}

input:valid,
select:valid {
  border-color: #2ecc71;
}
@media (max-width: 380px) {
  .reservation {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 70%;
    max-width: 300px;
    margin: 50px;
  }
}
/* Responsive pour les petits écrans */
@media (max-width: 850px) {
  .reservation {
    margin: 150px;
    height: 500px;
    max-width: 500px;
  }
  .registration {
    width: 90%;
    padding: 20px;
  }
  .form {
    padding-top: 20px;
  }

  /* .registration-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
  } */

  h1 {
    font-size: 1.5em;
  }

  input,
  select {
    font-size: 0.9em;
  }

  button.submit-btn {
    font-size: 1em;
  }
}
/*************************************************FOOTER*******************************************************************/

/* Style de base du footer */
footer {
  background-color: #222;
  color: #f0f0f0;
  text-align: center;
  padding: 20px 10px;
}

.footer-bottom p a {
  top: 100px;
  list-style-type: none;
  text-decoration: none;
  color: #ffffff;
}

.footer-bottom p a:hover {
  text-decoration: underline rgb(245, 213, 6) 3px;
}
.footer-content h3 {
  font-size: 1.5em;
  margin: 10px 0;
}

.footer-content p {
  font-size: 0.9em;
  line-height: 1.5;
  margin: 10px 0;
}

/* Styles pour les icônes de réseaux sociaux */
.socials {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 15px 0;
}

.socials li a {
  text-decoration: none;
  color: #ffd700;
  font-size: 1.2em;
  transition: color 0.3s ease;
}

.socials li a:hover {
  color: #f0f0f0; /* Couleur au survol */
}

/* Style pour le bas du footer */
.footer-bottom {
  font-size: 0.8em;
  margin-top: 15px;
}

/************************************************* FIN FOOTER*******************************************************************/

/* .tournois {
  background-color: #000000;
  border-radius: 10%;
  color: white;
  padding-bottom: 10%;
} */
/* .jeux ul li img {
  width: 25px;
} */

.jeux ul li {
  margin: 0 50px;
  margin-top: 40px;
  list-style-type: none;
  font-family: "Press Start 2P", serif;
}

.special-title {
  color: #c33434;
}

.horaires ul li {
  margin: 0 50px;
  margin-top: 40px;
  list-style-type: none;
  font-family: "Press Start 2P", serif;
}

/*********************************************MEDIA**********************************/
